@font-face {
	font-family: 'Avenir';
	src: url('./fonts/Avenir-Heavy.eot');
	src: url('./fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
	url('./fonts/Avenir-Heavy.woff') format('woff'),
	url('./fonts/Avenir-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
