// Color variables
$brand-primary: #6579fd;
$brand-darker: #5e70e8;
$back-grey: #f4f5fe;
$text-primary: #67677e;
$text-secondary: #cfcedb;
$chat-border: #dfe3fa;

// Screen size variables
$tablet-width: 768px;
$desktop-width: 1030px;
$desktop-xl: 1440px;
$mobile-lg: 440px;
$mobile-md: 380px;
$mobile-sm: 330px;
